<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/Components/NavBar/navBar.css">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>NavBar</title>
</head>
<body>
    <header>
        <img class="logo" src="/imgs/logo-med.png" alt="">
        <nav>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Catálogo de Médicos</a></li>
                <li><a href="#">Equipo</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
            </ul>
        </nav>
        <a href="#"><button class="sign-in">Ingresar</button></a>
        <a href="#"><button class="sign-up">Registrarse</button></a>
        <a href="#"><button class="menu"><i class='bx bx-menu'></i></button></a>
    </header>
    <div class="content">
        
    </div>
</body>
</html>