@import url(/Components/NavBar/navBar.css);

.content {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 400px;
}
.item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 0.5em;
    width: 100%;
}
.item label {
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--text-color-4);
}
.item input, .item select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.item input[type="number"] {
    width: 100%;
}
.item .search {
    display: flex;
    align-items: center;
    width: 400px;
}
.item .search input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 100%;
}
.item .search button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #eee;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-result {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}
.profile-image {
    width: 150px;
    height: 150px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.data {
    margin-right: 10px;
}
.det {
    font-size: 0.8em;
}
.name {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--primary-color-med);
}
.info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
.card-result .med-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color-med);
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
}

@media (max-width: 899px) {
    .filter {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .item {
        flex: none;
        width: 100%;
        padding: 0.2em;
    }.item input, .item select {
        width: 100%;
    }
    .item input[type="number"] {
        width: 100%;
    }
    .item .search {
        width: 100%;
    }

}