/* Estilos generales */
body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url(/images/stethoscope-background.png);
    background-position: center;
}

/* Estilos de la tarjeta de registro */
.tarjeta-registro {
    background-image: linear-gradient(-45deg, #1F3C88, #7ECBD6); 
    padding: 13px 13px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: auto;
    max-width: 700px;
}

/* Estilos del formulario */
.form {
    background-color: #fff;
    padding: 25px !important;
    padding-bottom: 3px !important;
    border-radius: 12px;
}

.form h1 {
    text-align: left;
    font-size: 35px;
    font-weight: 800;
    color: #2D5D98;
}

.form h2 {
    text-align: left;
    font-size: 23px;
    font-weight: 700;
    color: #2D5D98;
}

.tipo-documento, .fecha{
    border: solid #5DB6CB !important;
    border-width: 1px !important;
}

input, select {
    border: solid #5DB6CB !important;
    border-width: 1px !important;
}

input[type="submit"] {
    display: block;
    width: 50%;
    margin: 15px auto;
    margin-top: 0;
    border: none !important;
    border-radius: 12px;
    height: 2em;
    font-size: 1.1rem;
    background-image: linear-gradient(-45deg, #1F3C88, #7ECBD6);
    min-width: 300px;
    color: #fff;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}